COMPOSE_PROJECT_NAME=
ENABLE_XDEBUG=false
XDEBUG_CONFIG="client_host=host.docker.internal"

QUEUE_COMMON=

MYSQL_PORT=3306
NGINX_PORT=8087
SUPERVISOR_PORT=9001
REDIS_PORT=6379
MYSQL_PASSWORD=laravel
MYSQL_ROOT_PASSWORD=root
REDIS_PASSWORD=redis

USER_ID=1000
GROUP_ID=1000
