# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
innodb_rollback_on_timeout=1
long_query_time=5.0
slow_query_log=1
max_allowed_packet=16M
#default_authentication_plugin=mysql_native_password
#log-error=/var/lib/mysql/error.log
#lower_case_table_names=1
#collation-server=utf8mb4_unicode_ci
#character-set-server=utf8mb4
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
wait_timeout=28800
interactive_timeout=28800
log_bin_trust_function_creators=1
sort_buffer_size=512K

pid-file=/var/run/mysqld/mysqld.pid

